@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	text-align: left;
}

header {
	background-color: #BAD6FF;
	padding: 30px;
	text-align: center;
}

h1 {
	font-family: Noto Sans, Arial;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
}
h2 {
	font-family: Arial;
	color: #37547F;
	text-align: center;
	font-size: 30px;
	font-style: italic;
}

h3 {
	font-family: Arial;
	color: #37547F;
	text-align: left;
	font-size: 20px;
}
a {
	color: #9EA8E8;
	text-decoration: none;
}

img {
	width: 100%;
}

p {
	color: #37547F;
	text-align: left;
	font-family: Barlow Semi Condensed, Helvetica;
}
ol {
	color: #37547F;
	font-family: Barlow Semi Condensed, Helvetica;
}
