body {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	text-align: left;
}

header {
	background-color: #BAD6FF;
	padding: 30px;
	text-align: center;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 40px;
}
h2 {
	color: #37547F;
	text-align: center;
	font-size: 30px;
	font-style: italic;
}

a {
	color: #9EA8E8;
	text-decoration: none;
}

img {
	width: 100%;
}

p {
	color: #37547F;
	text-align: lef;
}
